In [1]:
import psycopg2
import pandas as pd
import plotly.express as px
import requests
import json

In [2]:
# Dataframe Creation

#sql connection
mydb=psycopg2.connect(host="localhost",
                      user="postgres",
                      port="5432",
                      database="phonepe_data",
                      password="Openmysql@1504")
cursor=mydb.cursor()

#aggre_transaction_df
cursor.execute("SELECT * FROM aggregated_transaction")
mydb.commit()
table1=cursor.fetchall()

Aggre_transaction=pd.DataFrame(table1,columns=("States", "Years", "Quarter", "Transaction_type", "Transaction_count", "Transaction_amount"))


#aggre_user_df
cursor.execute("SELECT * FROM aggregated_user")
mydb.commit()
table2=cursor.fetchall()

Aggre_user=pd.DataFrame(table2,columns=("States", "Years", "Quarter", "Brands", "Transaction_count", "Percentage"))

#map_transaction_df
cursor.execute("SELECT * FROM map_transaction")
mydb.commit()
table3=cursor.fetchall()

map_transaction=pd.DataFrame(table3,columns=("States", "Years", "Quarter", "Districts", "Transaction_count", "Transaction_amount"))

#map_user_df
cursor.execute("SELECT * FROM map_user")
mydb.commit()
table4=cursor.fetchall()

map_user=pd.DataFrame(table4,columns=("States", "Years", "Quarter", "Districts", "RegisteredUsers", "AppOpens"))


#top_transaction_df
cursor.execute("SELECT * FROM top_transaction")
mydb.commit()
table5=cursor.fetchall()

top_transaction=pd.DataFrame(table5,columns=("States", "Years", "Quarter", "Pincodes", "Transaction_count", "Transaction_amount"))


#top_user_df
cursor.execute("SELECT * FROM top_user")
mydb.commit()
table6=cursor.fetchall()

top_user=pd.DataFrame(table6,columns=("States", "Years", "Quarter", "Pincodes", "RegisteredUsers"))

In [3]:
#sql connection
def top_chart_transaction_amount(table_name):
    mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        port="5432",
                        database="phonepe_data",
                        password="Openmysql@1504")
    cursor=mydb.cursor()
    # plot_1
    query1= f'''SELECT states, SUM(transaction_amount) AS transaction_amount 
                FROM {table_name}
                GROUP BY states
                ORDER BY transaction_amount DESC
                LIMIT 10;'''
                
    cursor.execute(query1)
    table= cursor.fetchall()
    mydb.commit()

    df_1= pd.DataFrame(table, columns=("states", "transaction_amount"))

    fig_amount= px.bar(df_1,x="states", y="transaction_amount", title=" TRANSACTION AMOUNT", hover_name= "states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height=650, width=600)
    fig_amount.show()

    # plot_2
    query2= f'''SELECT states, SUM(transaction_amount) AS transaction_amount 
                FROM {table_name}
                GROUP BY states
                ORDER BY transaction_amount 
                LIMIT 10;'''
                
    cursor.execute(query2)
    table2= cursor.fetchall()
    mydb.commit()

    df_2= pd.DataFrame(table2, columns=("states", "transaction_amount"))

    fig_amount_2= px.bar(df_2,x="states", y="transaction_amount", title=" TRANSACTION AMOUNT", hover_name= "states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650, width=600)
    fig_amount_2.show()


    # plot_3
    query3= f'''SELECT states, AVG(transaction_amount) AS transaction_amount 
                FROM {table_name}
                GROUP BY states
                ORDER BY transaction_amount ;'''
                
    cursor.execute(query3)
    table3= cursor.fetchall()
    mydb.commit()

    df_3= pd.DataFrame(table3, columns=("states", "transaction_amount"))

    fig_amount_3= px.bar(df_3,y="states", x="transaction_amount", title=" TRANSACTION AMOUNT", hover_name= "states",orientation= "h",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, height=650, width=600)
    fig_amount_3.show()

In [4]:
#sql connection
def top_chart_transaction_count(table_name):
    mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        port="5432",
                        database="phonepe_data",
                        password="Openmysql@1504")
    cursor=mydb.cursor()
    # plot_1
    query1= f'''SELECT states, SUM(transaction_count) AS transaction_count 
                FROM {table_name}
                GROUP BY states
                ORDER BY transaction_count DESC
                LIMIT 10;'''
                
    cursor.execute(query1)
    table= cursor.fetchall()
    mydb.commit()

    df_1= pd.DataFrame(table, columns=("states", "transaction_count"))

    fig_amount= px.bar(df_1,x="states", y="transaction_count", title=" TRANSACTION COUNT", hover_name= "states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height=650, width=600)
    fig_amount.show()

    # plot_2
    query2= f'''SELECT states, SUM(transaction_count) AS transaction_count 
                FROM {table_name}
                GROUP BY states
                ORDER BY transaction_count 
                LIMIT 10;'''
                
    cursor.execute(query2)
    table2= cursor.fetchall()
    mydb.commit()

    df_2= pd.DataFrame(table2, columns=("states", "transaction_count"))

    fig_amount_2= px.bar(df_2,x="states", y="transaction_count", title=" TRANSACTION COUNT", hover_name= "states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650, width=600)
    fig_amount_2.show()


    # plot_3
    query3= f'''SELECT states, AVG(transaction_count) AS transaction_count 
                FROM {table_name}
                GROUP BY states
                ORDER BY transaction_count ;'''
                
    cursor.execute(query3)
    table3= cursor.fetchall()
    mydb.commit()

    df_3= pd.DataFrame(table3, columns=("states", "transaction_count"))

    fig_amount_3= px.bar(df_3,y="states", x="transaction_count", title=" TRANSACTION COUNT", hover_name= "states",orientation= "h",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, height=800, width=1000)
    fig_amount_3.show()

In [5]:
#sql connection
def top_chart_registered_user(table_name, state):
    mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        port="5432",
                        database="phonepe_data",
                        password="Openmysql@1504")
    cursor=mydb.cursor()
    # plot_1
    query1= f'''SELECT districts, SUM(registeredusers) AS registeredusers
                FROM {table_name}
                WHERE states= '{state}'
                GROUP BY districts
                ORDER BY registeredusers DESC
                LIMIT 10;'''
                
    cursor.execute(query1)
    table= cursor.fetchall()
    mydb.commit()

    df_1= pd.DataFrame(table, columns=("districts", "registeredusers"))

    fig_amount= px.bar(df_1,x="districts", y="registeredusers", title=" TOP 10 OF REGISTERED USERS", hover_name= "districts",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height=650, width=600)
    fig_amount.show()

    # plot_2
    query2= f'''SELECT districts, SUM(registeredusers) AS registeredusers
                FROM {table_name}
                WHERE states= '{state}'
                GROUP BY districts
                ORDER BY registeredusers 
                LIMIT 10;'''
                
    cursor.execute(query2)
    table2= cursor.fetchall()
    mydb.commit()

    df_2= pd.DataFrame(table2, columns=("districts", "registeredusers"))

    fig_amount_2= px.bar(df_2,x="districts", y="registeredusers", title="LAST 10 OF REGISTERED USER", hover_name= "districts",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650, width=600)
    fig_amount_2.show()


    # plot_3
    query3= f'''SELECT districts, AVG(registeredusers) AS registeredusers
                FROM {table_name}
                WHERE states= '{state}'
                GROUP BY districts
                ORDER BY registeredusers;'''
                
    cursor.execute(query3)
    table3= cursor.fetchall()
    mydb.commit()

    df_3= pd.DataFrame(table3, columns=("districts", "registeredusers"))

    fig_amount_3= px.bar(df_3,y="districts", x="registeredusers", title="AVG OF REGISTERED USER", hover_name= "districts",orientation= "h",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, height=650, width=600)
    fig_amount_3.show()

In [6]:
#sql connection
def top_chart_appopens(table_name, state):
    mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        port="5432",
                        database="phonepe_data",
                        password="Openmysql@1504")
    cursor=mydb.cursor()
    # plot_1
    query1= f'''SELECT districts, SUM(appopens) AS appopens
                FROM {table_name}
                WHERE states= '{state}'
                GROUP BY districts
                ORDER BY appopens DESC
                LIMIT 10;'''
                
    cursor.execute(query1)
    table= cursor.fetchall()
    mydb.commit()

    df_1= pd.DataFrame(table, columns=("districts", "appopens"))

    fig_amount= px.bar(df_1,x="districts", y="appopens", title=" TOP 10 OF APPOPENS ", hover_name= "districts",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height=650, width=600)
    fig_amount.show()

    # plot_2
    query2= f'''SELECT districts, SUM(appopens) AS appopens
                FROM {table_name}
                WHERE states= '{state}'
                GROUP BY districts
                ORDER BY appopens 
                LIMIT 10;'''
                
    cursor.execute(query2)
    table2= cursor.fetchall()
    mydb.commit()

    df_2= pd.DataFrame(table2, columns=("districts", "appopens"))

    fig_amount_2= px.bar(df_2,x="districts", y="appopens", title="LAST 10 OF APPOPENS ", hover_name= "districts",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650, width=600)
    fig_amount_2.show()


    # plot_3
    query3= f'''SELECT districts, AVG(appopens) AS appopens
                FROM {table_name}
                WHERE states= '{state}'
                GROUP BY districts
                ORDER BY appopens;'''
                
    cursor.execute(query3)
    table3= cursor.fetchall()
    mydb.commit()

    df_3= pd.DataFrame(table3, columns=("districts", "appopens"))

    fig_amount_3= px.bar(df_3,y="districts", x="appopens", title="AVG OF APPOPENS", hover_name= "districts",orientation= "h",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, height=650, width=600)
    fig_amount_3.show()

In [7]:
#sql connection
def top_chart_registered_users(table_name):
    mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        port="5432",
                        database="phonepe_data",
                        password="Openmysql@1504")
    cursor=mydb.cursor()
    # plot_1
    query1= f'''SELECT states,SUM(registeredusers) AS registeredusers
                FROM {table_name}
                GROUP BY states
                ORDER BY registeredusers DESC
                LIMIT 10;'''
                
    cursor.execute(query1)
    table= cursor.fetchall()
    mydb.commit()

    df_1= pd.DataFrame(table, columns=("states", "registeredusers"))

    fig_amount= px.bar(df_1,x="states", y="registeredusers", title=" TOP 10 OF REGISTERED USERS", hover_name= "states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height=650, width=600)
    fig_amount.show()

    # plot_2
    query2= f'''SELECT states,SUM(registeredusers) AS registeredusers
                FROM {table_name}
                GROUP BY states
                ORDER BY registeredusers 
                LIMIT 10;'''
                
    cursor.execute(query2)
    table2= cursor.fetchall()
    mydb.commit()

    df_2= pd.DataFrame(table2, columns=("states", "registeredusers"))

    fig_amount_2= px.bar(df_2,x="states", y="registeredusers", title="LAST 10 OF REGISTERED USER", hover_name= "states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650, width=600)
    fig_amount_2.show()


    # plot_3
    query3= f'''SELECT states,AVG(registeredusers) AS registeredusers
                FROM {table_name}
                GROUP BY states
                ORDER BY registeredusers;'''
                
    cursor.execute(query3)
    table3= cursor.fetchall()
    mydb.commit()

    df_3= pd.DataFrame(table3, columns=("states", "registeredusers"))

    fig_amount_3= px.bar(df_3,y="states", x="registeredusers", title="AVG OF REGISTERED USER", hover_name= "states",orientation= "h",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, height=650, width=600)
    fig_amount_3.show()

In [ ]:
top_chart_registered_users("top_user")

In [ ]:
top_chart_appopens("map_user", "Tamil Nadu")

In [ ]:
top_chart_registered_user("map_user", "Tamil Nadu")

In [ ]:
top_chart_transaction_count("aggregated_transaction")

In [ ]:
top_chart_transaction_amount("aggregated_transaction")

In [13]:
# Transaction_year Based
def Transaction_amount_count_Y(df, year):
    tacy= df[df["Years"] == year]
    tacy.reset_index(drop=True,inplace=True)

    tacyg= tacy.groupby("States")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_amount= px.bar(tacyg,x="States", y="Transaction_amount", title=f"{year} TRANSACTION AMOUNT",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl, height=650, width=600)
    fig_amount.show()

    fig_count= px.bar(tacyg,x="States", y="Transaction_count", title=f"{year} TRANSACTION COUNT",
                    color_discrete_sequence=px.colors.sequential.Bluered_r, height=650, width=600)
    fig_count.show()
    
    
    url= "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"

    response= requests.get(url)
    data1= json.loads(response.content)
    states_name=[]
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])
        
    states_name.sort()  

    fig_india_1= px.choropleth(tacyg, geojson=data1, locations= "States",featureidkey="properties.ST_NM",
                               color= "Transaction_amount", color_continuous_scale= "Rainbow",
                               range_color= (tacyg["Transaction_amount"].min(), tacyg["Transaction_amount"].max()),
                               hover_name= "States", title= f"{year} TRANSACTION AMOUNT", fitbounds= "locations",
                               height=600, width=600)
    fig_india_1.update_geos(visible= False)
    fig_india_1.show()
    
    fig_india_2= px.choropleth(tacyg, geojson=data1, locations= "States",featureidkey="properties.ST_NM",
                               color= "Transaction_count", color_continuous_scale= "Rainbow",
                               range_color= (tacyg["Transaction_count"].min(), tacyg["Transaction_count"].max()),
                               hover_name= "States", title= f"{year} TRANSACTION COUNT", fitbounds= "locations",
                               height=600, width=600)
    fig_india_2.update_geos(visible= False)
    fig_india_2.show()
    
    return tacy

In [14]:
#Transaction_Quarter Based
def Transaction_amount_count_Y_Q(df, quarter):
    tacy= df[df["Quarter"] == quarter]
    tacy.reset_index(drop=True,inplace=True)

    tacyg= tacy.groupby("States")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_amount= px.bar(tacyg,x="States", y="Transaction_amount", title=f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl, height=650, width=600)
    fig_amount.show()

    fig_count= px.bar(tacyg,x="States", y="Transaction_count", title=f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION COUNT",
                    color_discrete_sequence=px.colors.sequential.Bluered_r, height=650, width=600)
    fig_count.show()
    
    
    url= "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"

    response= requests.get(url)
    data1= json.loads(response.content)
    states_name=[]
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])
        
    states_name.sort()  

    fig_india_1= px.choropleth(tacyg, geojson=data1, locations= "States",featureidkey="properties.ST_NM",
                               color= "Transaction_amount", color_continuous_scale= "Rainbow",
                               range_color= (tacyg["Transaction_amount"].min(), tacyg["Transaction_amount"].max()),
                               hover_name= "States", title= f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT", fitbounds= "locations",
                               height=600, width=600)
    fig_india_1.update_geos(visible= False)
    fig_india_1.show()
    
    fig_india_2= px.choropleth(tacyg, geojson=data1, locations= "States",featureidkey="properties.ST_NM",
                               color= "Transaction_count", color_continuous_scale= "Rainbow",
                               range_color= (tacyg["Transaction_count"].min(), tacyg["Transaction_count"].max()),
                               hover_name= "States", title= f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION COUNT", fitbounds= "locations",
                               height=600, width=600)
    fig_india_2.update_geos(visible= False)
    fig_india_2.show()
    
    return tacy

In [15]:
#Transaction_Type Based
def Aggre_Tran_Transaction_type(df, state):

    tacy= df[df["States"] == state]
    tacy.reset_index(drop=True,inplace=True)

    tacyg= tacy.groupby("Transaction_type")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_pie_1= px.pie(data_frame= tacyg, names= "Transaction_type", values= "Transaction_amount",
                    width= 600, title=f"{state.upper()} TRANSACTION AMOUNT", hole= 0)
    fig_pie_1.show()

    fig_pie_2= px.pie(data_frame= tacyg, names= "Transaction_type", values= "Transaction_count",
                    width= 600, title=f"{state.upper()} TRANSACTION COUNT", hole= 0)
    fig_pie_2.show()

In [16]:
#Agger_user_analysis_1
def Aggre_user_plot_1(df, year):
    aguy= df[df["Years"]== year]
    aguy.reset_index(drop=True, inplace=True)

    aguyg= pd.DataFrame(aguy.groupby("Brands")["Transaction_count"].sum())
    aguyg.reset_index(inplace=True)

    fig_bar_1= px.bar(aguyg, x= "Brands", y= "Transaction_count", title= f"{year} BRANDS AND TRANSACTION COUNT",
                    width=600, color_discrete_sequence= px.colors.sequential.haline_r, hover_name="Brands")
    fig_bar_1.show()
    
    return aguy

In [17]:
#Aggre_user_analysis_2
def aggre_user_plot2(df, quarter):
    aguyq= df[df["Quarter"]== quarter]
    aguyq.reset_index(drop=True, inplace=True)

    aguyqg= pd.DataFrame(aguyq.groupby("Brands")["Transaction_count"].sum())
    aguyqg.reset_index(inplace=True)

    fig_bar_1= px.bar(aguyqg, x= "Brands", y= "Transaction_count", title= f"{quarter}  QUARTER, BRANDS AND TRANSACTION COUNT",
                    width=600, color_discrete_sequence= px.colors.sequential.haline_r, hover_name="Brands")
    fig_bar_1.show()
    
    return aguyq

In [18]:
#Aggre_user_analysis_3
def Aggre_user_plot_3(df, state):
    auyqs= df[df["States"] == state]
    auyqs.reset_index(drop= True, inplace= True)

    fig_line_1= px.line(auyqs, x= "Brands", y= "Transaction_count", hover_data= "Percentage",
                        title= f"{state.upper() }BRANDS, TRANSACTION COUNT, PERCENTAGE", width= 1000, markers= "True")
    fig_line_1.show()

In [19]:
#Map_Transation
def map_tran_Districts(df, state):

    tacy= df[df["States"] == state]
    tacy.reset_index(drop=True,inplace=True)

    tacyg= tacy.groupby("Districts")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_bar_1= px.bar(tacyg, x= "Transaction_amount", y= "Districts", orientation= "h",
                      title= f"{state.upper()} DISTRICT AND TRANSACTION AMOUNT", color_discrete_sequence= px.colors.sequential.Mint_r)
    fig_bar_1.show()

    fig_bar_2= px.bar(tacyg, x= "Transaction_count", y= "Districts", orientation= "h",
                      title= f"{state.upper()} DISTRICT AND TRANSACTION COUNT", color_discrete_sequence= px.colors.sequential.Bluered_r)
    fig_bar_2.show()

In [20]:
#map_user_plot1 
def map_user_plot1(df,year):
    muy= df[df["Years"]== year]
    muy.reset_index(drop=True, inplace=True)

    muyg= muy.groupby("States")[["RegisteredUsers", "AppOpens"]].sum()
    muyg.reset_index(inplace=True)

    fig_line_1= px.line(muyg, x= "States", y= ["RegisteredUsers", "AppOpens"],
                        title=f"{year} REGISTERDUSER APPOPENS", width= 1000, markers= "True")
    fig_line_1.show()
    
    return muy

In [21]:
#map_user_plot2 
def map_user_plot2(df,quarter):
    muyq=df[df["Quarter"]== quarter]
    muyq.reset_index(drop=True, inplace=True)

    muyqg=muyq.groupby("States")[["RegisteredUsers", "AppOpens"]].sum()
    muyqg.reset_index(inplace=True)

    fig_line_1= px.line(muyqg, x= "States", y= ["RegisteredUsers", "AppOpens"],
                        title=f"{df['Years'].min()} YEAR {quarter} QUARTER REGISTERDUSER APPOPENS", width= 1000, height= 500, markers= "True", color_discrete_sequence= px.colors.sequential.Rainbow_r)
    fig_line_1.show()
    
    return muyq

In [22]:
#map_user_plot3
def map_user_plot3(df, States):
    muyqs= df[df["States"]== States]
    muyqs.reset_index(drop=True, inplace=True)

    fig_map_user_bar_1=px.bar(muyqs, x="RegisteredUsers", y="Districts", orientation="h",
                            title= "REGISTERD USER", height= 800, color_discrete_sequence= px.colors.sequential.Rainbow_r)
    fig_map_user_bar_1.show()

    fig_map_user_bar_2=px.bar(muyqs, x="AppOpens", y="Districts", orientation="h",
                            title= "APPOPENS ", height= 800, color_discrete_sequence= px.colors.sequential.Rainbow)
    fig_map_user_bar_2.show()

In [23]:
# Top_Transaction_plot_1
def Top_Transaction_plot_1(df,state):
    tty=df[df["States"]== state]
    tty.reset_index(drop=True, inplace=True)

    ttyg=tty.groupby("Pincodes")[["Transaction_count", "Transaction_amount"]].sum()
    ttyg.reset_index(inplace=True)

    fig_top_tran_bar_1=px.bar(tty, x="Quarter", y="Transaction_amount", hover_data= "Pincodes",
                            title= "TRANSACTION AMOUNT", height= 800, color_discrete_sequence= px.colors.sequential.Rainbow_r)
    fig_top_tran_bar_1.show()
    
    fig_top_tran_bar_2=px.bar(tty, x="Quarter", y="Transaction_count", hover_data= "Pincodes",
                            title= "TRANSACTION COUNT", height= 800, color_discrete_sequence= px.colors.sequential.Rainbow)
    fig_top_tran_bar_2.show()

In [24]:
# top_user_plot_1
def top_user_plot_1(df, year):
    tuy= df[df["Years"]== year]
    tuy.reset_index(drop=True, inplace=True)

    tuyg= pd.DataFrame(tuy.groupby(["States", "Quarter"])["RegisteredUsers"].sum())
    tuyg.reset_index(inplace=True)

    fig_top_plot_1= px.bar(tuyg, x="States", y= "RegisteredUsers", color= "Quarter", width= 1000, height= 800,
                        color_discrete_sequence= px.colors.sequential.Burgyl, hover_name= "States",
                        title=f"{year} REGISTERED USERS")
    fig_top_plot_1.show()
    return tuy

In [25]:
#top_user_plot_2
def top_user_plot_2(df, state):
    tuys= df[df["States"]== state]
    tuys.reset_index(drop=True, inplace=True)

    fig_top_plot_2= px.bar(tuys, x= "Quarter", y= "RegisteredUsers", title= "REGISTERDUSER, PINCODES, QUARTER",
                        width= 1000, height=800, color= "RegisteredUsers", hover_data= "Pincodes",
                        color_continuous_scale= px.colors.sequential.Burgyl)
    fig_top_plot_2.show()

### Aggregated_Transaction

In [ ]:
tac_y=Transaction_amount_count_Y(Aggre_transaction, 2022)

In [ ]:
Aggre_Tran_Transaction_type(ac_yt, "Tamil Nadu")

In [ ]:
tac_y_Q= Transaction_amount_count_Y_Q(tac_y, 3)

In [ ]:
Aggre_Tran_Transaction_type(tac_y_Q, "Tamil Nadu")

### Aggregated_user

In [ ]:
Aggre_user_Y= Aggre_user_plot_1(Aggre_user, 2020)

In [ ]:
Aggre_user_Y_Q= aggre_user_plot2(Aggre_user_Y, 3)

In [ ]:
Aggre_user_plot_3(Aggre_user_Y_Q, "Andaman & Nicobar")

### Map_Transaction

In [ ]:
map_tac_y=Transaction_amount_count_Y(map_transaction, 2022)

In [ ]:
map_tran_Districts(map_tac_y, "Tamil Nadu")

In [ ]:
map_tac_y_Q= Transaction_amount_count_Y_Q(map_tac_y, 3)

In [ ]:
map_tran_Districts(map_tac_y_Q, "Tamil Nadu")

### Map User Analysis

In [ ]:
map_user_Y= map_user_plot1(map_user,2020)

In [ ]:
Map_user_Y_Q= map_user_plot2(map_user_Y,2)

In [ ]:
map_user_plot3(Map_user_Y_Q, "Tamil Nadu")

### Top Transaction

In [ ]:
top_tac_y=Transaction_amount_count_Y(top_transaction, 2022)

In [ ]:
Top_Transaction_plot_1(top_tac_y,"West Bengal")

In [ ]:
top_tac_y_Q= Transaction_amount_count_Y_Q(top_tac_y, 3)

### Top User

In [ ]:
Top_user_Y=top_user_plot_1(top_user, 2020)

In [ ]:
top_user_plot_2(Top_user_Y, "Tamil Nadu")